* {
	padding: 0;
	margin: 0;
}

input {
	border-radius: 5px;
	padding: 0.2em 0.3em;
}

.formulario {
	margin: 2em;
	display: grid;
	gap: 0.2em;
}
.cadastrar-visita {
	margin: 2em;
	width: 20%;
}
.campo-observacoes {
	height: 8em;
}

.titulo {
	text-align: center;
}
